/* Class selectors begin with a . type selectors (like div, p, a) don't start with a . */
.synopsis {
  color: #7E8184; /* Light gray */
  font-style: italic;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;
}

.page {
  width: 600px;
  margin: 0 auto;
}

/* Add a class selector for the second class of button two to override certain properties */
.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A; /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;
}
/* Descendant selectors are for targetting only those elements that are inside of another element.
syntax: parent-selector (SPACE) child-selector {}*/
.synopsis em {
  font-style: normal;
}

/* A stricter selector than the descendant selector is the child selector ">", this will only select
direct children of the parent SYNTAX: .synopsis > em {} */

/* .synopsis > em {
font-style: normal;
} */

/* Pseudo-classes are used to style different states, like when you hover over a link */
a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}
/* you can link multiple pseudo-classes to create specific styles for example a link thats already visited AND where the user is hovering */
a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}

p:last-of-type {
  margin-bottom: 50px;
}

.page > p:first-of-type {
  color: #7E8184;
  font-style: italic;
}
