* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA; /* Blue */
  padding: 20px 0;
  /* Enable flexbox layout mode */
  display: flex;
  /* Horizontal alignment; notice how we put this in the parent element (flex container)! */
  justify-content: center;
}

.menu {
  /* border: 1px solid #fff; /* for debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  /* border: 1px solid #fff;   for debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}


.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  /* Vertical alignment with align-items */
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Flex direction changes the direction to vertical (column) or row (horizontal) */
  /* flex-direction: column; */
  /* This also changes the main axis, so the behaviour of align-items and justify-content will be swapped, use align-items for horizontal (main axis in column mode) alignment */
  /* align-items: center; */
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}


.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-three {
  flex: 2;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

/* With this auto margin you can replace an extra div container in the html file, in this case it pushes signup to the right side */
.signup {
  margin-left: auto;
}
