/* Always start with selector { property: value;} */

body {
  color: #414141; /* Dark gray */
  background-color: #EEEEEE; /* Light gray */
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

/* Select multiple HTML elements in the same CSS rule --> seperate them with commas */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}
