/* Reset default box behaviour */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 100px;
  background-color: #B2D6FF; /* Medium Blue */
}

.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D; /* Red */
}

.content {
  float: left;
  padding: 20px;
  width: 650px;
  height: 500px;
  background-color: #F5CF8E; /* Yellow */
}

/* Adding content to the content container: styling an image and paragraphs */
.article-image {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

/* clearing floats only fixes the height issue when there's an element inside the container element that we can add a clear property to */
.footer {
  /* clear: both; */
  /* changing the fixed height of the footer to overflow: hidden; The height will change to the container's content (=float elements 'column') */
  overflow: hidden;
  background-color: #D6E9FE; /* Light Blue */

}
/* By adding an overflow: hidden declaration to a container div, we’re telling it to recognize the height of any floated elements it contains. This is how we can add a background color to our .page element and have it actually render: */
.page {
  width: 900px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

/* Style the columns we just added in the footer */
.column {
  float: left;
  /* Percentages are relative to the width of parent element -->responsive design */
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF; /* Medium blue */
}

/* Styling an example of a user-comment thread  */
.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}
